# ==================== LOG ====================
log:
  level: info
  file: "log/mosdns.log"

# ==================== DATA PROVIDERS ====================
data_providers:
  - tag: cdn_domains
    file: "config/cdn_domains.txt"
    auto_reload: true
  
  - tag: google_domains
    file: "config/google_upstream.txt"
    auto_reload: true
  
  - tag: mullvad_domains
    file: "config/mullvad_upstream.txt"
    auto_reload: true
  
  - tag: cloudflare_ips
    file: "config/cloudflare_ipv4.txt"
    auto_reload: true

# ==================== PLUGINS ====================
plugins:
  # Matchers
  - tag: cdn_domain_matcher
    type: query_matcher
    args:
      domain:
        - "provider:cdn_domains"
  
  - tag: google_domain_matcher
    type: query_matcher
    args:
      domain:
        - "provider:google_domains"
  
  - tag: mullvad_domain_matcher
    type: query_matcher
    args:
      domain:
        - "provider:mullvad_domains"
  
  - tag: cdn_cname_matcher
    type: response_matcher
    args:
      cname:
        - "provider:cdn_domains"
  
  - tag: cloudflare_ip_matcher
    type: response_matcher
    args:
      ip:
        - "provider:cloudflare_ips"
  
  # Redirect
  - tag: redirect_to_rocket
    type: redirect
    args:
      rule:
        - "regexp:.+ rocket.net"
  
  # Upstreams
  - tag: cdn_upstream
    type: fast_forward
    args:
      upstream:
        - addr: "https://bu0eg1tdzu.cloudflare-gateway.com/dns-query"
#        - addr: "https://97nsi83nhg.cloudflare-gateway.com/dns-query"
  
  - tag: google_upstream
    type: fast_forward
    args:
      upstream:
        - addr: "https://8.8.8.8/dns-query"
        - addr: "https://8.8.4.4/dns-query"
  
  - tag: mullvad_upstream
    type: fast_forward
    args:
      upstream:
        - addr: "https://dns.mullvad.net/dns-query"
  
  - tag: default_upstream
    type: fast_forward
    args:
      upstream:
        - addr: "https://1.1.1.1/dns-query"
        - addr: "https://1.0.0.1/dns-query"

  # Main sequence
  - tag: main
    type: sequence
    args:
      exec:
        - _prefer_ipv4
        
        - if: google_domain_matcher
          exec:
            - google_upstream
            - _return
        
        - if: mullvad_domain_matcher
          exec:
            - mullvad_upstream
            - _return
        
        - if: cdn_domain_matcher
          exec:
            - cdn_upstream
            - _return
        
        - default_upstream
        
   #     - if: cloudflare_ip_matcher
   #       exec:
   #         - _drop_response
   #         - redirect_to_rocket
   #         - default_upstream
   #         - _return
        
        - if: cdn_cname_matcher
          exec:
            - _drop_response
            - cdn_upstream
            - _return

# ==================== SERVERS ====================
servers:
  - exec: main
    listeners:
      - protocol: udp
        addr: "0.0.0.0:5301"
      - protocol: tcp
        addr: "0.0.0.0:5301"